@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-image: url(../imagnes/572a91b1de608f5af1151f6149744446.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

main{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    height: 450px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.5) ;
    border-radius: 10px;
    
    
}

.form{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-top: 10px;

}
.alerta{
    display: flex;
    justify-content: center;
    margin: 5px 0 10px;
}
#msgError{
    text-align: center;
    margin-top: 2px;
    font-weight: 600;
    background-color: rgb(158, 70, 70);
    border-radius: 4px;
    display: none;
    padding: 5px;
    width: 80%;
}
#msgSuccess{
    padding: 5px;
    text-align: center;
    margin-top: 2px;
    font-weight: 600;
    background-color: rgb(65, 168, 117);
    border-radius: 4px;
    display: none;
    width: 80%;

}

h1{ 
    text-align: center;
    color: rgb(141,62,62);
    
}


input[type="text"],input[type="password"]{
    height: 40px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgb(141, 62, 62);
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0) ;
    padding-left: 15px;
    font-weight: 500;
    font-style: italic;
    
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid rgb(141,62,62);
    color: rgb(141,62,62); 
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;    
}

.botao button:hover{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(141,62,62);
    color: white; 
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    
}


@media (max-width:320px){
    
    h1{
        font-size: 15px;
        margin-bottom: 10px;
    }
    label{
        font-size: 12px;
    }
    .botao button{
        height: 40px;
        width: 100px;
        border-radius: 5px;
        background-color: rgb(141,62,62);
        color: white; 
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 1px;  
    }
    
    
}

@media (max-width:480px){
    main{
        width: 80%; 
    }
    h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .botao button{
        height: 40px;
        width: 100px;
        border-radius: 5px;
        background-color: rgb(141,62,62);
        color: white; 
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 1px;  
    }
    
    
   
}

@media (max-width:600px){
    main{
        width: 55%; 
    }

    h1{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .botao button{
        height: 40px;
        width: 100px;
        border-radius: 5px;
        background-color: rgb(141,62,62);
        color: white; 
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 1px;  
    }
   
}  

@media (max-width:800px){
    main{
        width: 50%; 
    }

    .botao button{
        width: 100px;
        
    }
    h1{
        font-size: 25px;
    }
    .botao button{
        height: 40px;
        width: 100px;
        border-radius: 5px;
        background-color: rgb(141,62,62);
        color: white; 
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 1px;  
    }
}

@media (max-width:1068px){
    main{
        width: 50%; 
    }

    .botao button{
        width: 100px;
        
    }
    h1{
        font-size: 25px;
    }
}


